@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root {
    --border-cinza: #b2bec3;
    --bg-blue: #2b32b2;
    --border-green: #4cd137;
    --bg-dark: #1A2F3A;
    --logo-height: 100px;
    --header-height: 100px;
    --menu-top-height: 60px;
    --aside-width: 225px;
    --footer-height: 40px;
    --shadow: 2px 3px 5px 1px rgba(201,185,201,1);;
    /* --shadow: 0 2px 49px 0 rgba(0, 0, 0, 0.06); */
}

* {
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}

/* Grids */

.app {
    /* margin: 0; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-areas: "logo header" "menu content" "menu footer"; */
    /* height: 100vh; */
    /* background-color: #f5f5f5; */
}